package {{packageName}}.server.{{lowerCaseContractName}}

{{#eventImports}}
    {{import}}
{{/eventImports}}
import {{packageName}}.core.{{lowerCaseContractName}}.{{capitalizedContractName}}Events
import {{packageName}}.wrappers.{{capitalizedContractName}}
import org.web3j.openapi.server.SubResourceImpl
import javax.inject.Inject
import javax.ws.rs.core.Context
import org.glassfish.jersey.server.ExtendedUriInfo
import javax.annotation.Generated

@Generated
class {{capitalizedContractName}}EventsImpl(
    {{decapitalizedContractName}} : {{capitalizedContractName}},
    uriInfo : ExtendedUriInfo
) :  {{capitalizedContractName}}Events, SubResourceImpl(uriInfo){

{{#EventResource}}
    override val {{decapitalizedName}}Events: {{capitalizedName}}EventResourceImpl = {{capitalizedName}}EventResourceImpl({{decapitalizedContractName}})
{{/EventResource}}
}
