package {{packageName}}.server

import {{packageName}}.core.{{projectName}}Api
import org.glassfish.jersey.server.ExtendedUriInfo
import org.web3j.crypto.Credentials
import org.web3j.protocol.Web3j
import org.web3j.tx.RawTransactionManager
import org.web3j.tx.gas.ContractGasProvider
import javax.annotation.processing.Generated
import javax.inject.Inject
import javax.ws.rs.core.Context

@Generated
class {{projectName}}ApiImpl @Inject constructor(
web3j: Web3j,
credentials: Credentials,
gasProvider: ContractGasProvider,
@Context uriInfo: ExtendedUriInfo
) : {{projectName}}Api {

override val contracts = {{projectName}}ResourceImpl(
web3j, RawTransactionManager(web3j, credentials), gasProvider, uriInfo
)
}
