package {{packageName}}.server

import org.glassfish.jersey.server.ExtendedUriInfo
import org.web3j.crypto.Credentials
import org.web3j.openapi.core.Web3jOpenApi
import org.web3j.protocol.Web3j
import org.web3j.tx.RawTransactionManager
import org.web3j.tx.gas.ContractGasProvider
import javax.annotation.processing.Generated
import javax.inject.Inject
import javax.ws.rs.core.Context

@Generated
class ContractsApiImpl @Inject constructor(
web3j: Web3j,
credentials: Credentials,
defaultGasProvider: ContractGasProvider,
@Context uriInfo: ExtendedUriInfo
) : Web3jOpenApi {

override val contracts = GeneratedContractsResourceImpl(
web3j, RawTransactionManager(web3j, credentials), defaultGasProvider, uriInfo
)
}
