package {{packageName}}.server

{{#serverImports}}
    {{import}}LifecycleImpl
{{/serverImports}}
import org.glassfish.jersey.server.ExtendedUriInfo
import org.web3j.protocol.Web3j
import org.web3j.openapi.server.config.ContractAddresses
import org.web3j.tx.TransactionManager
import org.web3j.tx.gas.ContractGasProvider
import javax.annotation.Generated
import {{packageName}}.core.{{projectName}}Resource
import org.web3j.openapi.server.SubResourceImpl

@Generated
class {{projectName}}ResourceImpl(
    web3j: Web3j,
    transactionManager: TransactionManager,
    defaultGasProvider: ContractGasProvider,
    contractAddresses: ContractAddresses,
    uriInfo: ExtendedUriInfo
) : {{projectName}}Resource, SubResourceImpl(uriInfo) {

{{#contracts}}
    {{#contractDetails}}
        override val {{decapitalizedContractName}} = {{capitalizedContractName}}LifecycleImpl(
        web3j,
        transactionManager,
        defaultGasProvider,
        contractAddresses["{{lowerCaseContractName}}"],
        uriInfo)

    {{/contractDetails}}
{{/contracts}}
}
