package {{packageName}}.core

import io.swagger.v3.oas.annotations.OpenAPIDefinition
import io.swagger.v3.oas.annotations.info.Contact
import io.swagger.v3.oas.annotations.info.Info
import io.swagger.v3.oas.annotations.tags.Tag
import org.web3j.openapi.core.Web3jOpenApi
import org.web3j.openapi.core.SubResource
import javax.annotation.Generated
import javax.ws.rs.Consumes
import javax.ws.rs.Path
import javax.ws.rs.Produces
import javax.ws.rs.core.MediaType

@Path("/{{contextPath}}")
@Consumes(MediaType.APPLICATION_JSON)
@Produces(MediaType.APPLICATION_JSON)
@OpenAPIDefinition(
info = Info(
title = "Web3j OpenApi",
contact = Contact(
name = "Web3 Labs",
email = "hi@web3labs.com",
url = "http://web3labs.com"
)
),
tags = [
Tag(name = "default", description = "Lists existing contracts and events"),
{{#tags}}
Tag(name = "{{name}}", description = "{{description}}"){{lastCharacter}}
        {{/tags}}
]
)
@Generated
interface {{projectName}}Api : Web3jOpenApi {

@get:Path("contracts")
override val contracts: {{projectName}}Resource
}
