package {{packageName}}.core

import org.web3j.openapi.core.ContractResource
{{#apiImports}}
    {{import}}Lifecycle
{{/apiImports}}
import org.web3j.openapi.core.SubResource
import javax.annotation.processing.Generated
import javax.ws.rs.Consumes
import javax.ws.rs.Path
import javax.ws.rs.Produces
import javax.ws.rs.core.MediaType

@Generated
@Consumes(MediaType.APPLICATION_JSON)
@Produces(MediaType.APPLICATION_JSON)
interface {{projectName}}Resource : SubResource {

{{#contractsConfiguration}}
    {{#contractDetails}}
        @get:Path("{{lowerCaseContractName}}")
        val {{decapitalizedContractName}}: {{capitalizedContractName}}Lifecycle

    {{/contractDetails}}
{{/contractsConfiguration}}
}
