dependencies {
    api "org.web3j.openapi:web3j-openapi-core:{{version}}"
    api "io.swagger.core.v3:swagger-annotations:2.1.2"

    implementation "org.glassfish.jersey.media:jersey-media-json-jackson:2.31"
}
