plugins {
    id 'org.web3j' version '4.5.11'
    id 'application'
    id 'com.github.johnrengelman.shadow'
}

mainClassName = 'org.web3j.openapi.server.OpenApiServerKt'

shadowJar {
    destinationDir = file("{{outputDir}}")
}

dependencies {
    implementation "org.web3j.openapi:web3j-openapi-server:1.0"
    implementation project(':openapi-generated-core')

    implementation "org.glassfish.jersey.containers:jersey-container-servlet:2.29"

    testImplementation "org.web3j.openapi:web3j-openapi-server:1.0"
    testImplementation "com.willowtreeapps.assertk:assertk-jvm:0.22"
}

web3j {
    generatedPackageName = "org.web3j.{0}"
}

sourceSets {
    main.kotlin.srcDirs += "${web3j.generatedFilesBaseDir}/main/java"
    test.kotlin.srcDirs += "${web3j.generatedFilesBaseDir}/test/java"
}
