package {{packageName}}.core.{{contractName}}

{{#imports}}
    {{import}}
{{/imports}}
import io.swagger.v3.oas.annotations.Operation
import javax.annotation.processing.Generated
import javax.ws.rs.Consumes
import javax.ws.rs.GET
import javax.ws.rs.POST
import javax.ws.rs.Path
import javax.ws.rs.Produces
import javax.ws.rs.core.MediaType

{{#contractDetails}}
@Generated
@Consumes(MediaType.APPLICATION_JSON)
@Produces(MediaType.APPLICATION_JSON)
interface {{capitalizedContractName}}Resource {
{{/contractDetails}}
{{#contractResources}}
        @{{method}}
        @Produces(MediaType.APPLICATION_JSON)
        @Path("{{functionName}}")
        @Operation(tags = ["{{contractName}}"],
            summary = "{{description}}")
        {{resource}} : {{{returnType}}}

{{/contractResources}}
}
