package {{packageName}}.core.{{contractName}}

{{#modelImports}}
    {{import}}
{{/modelImports}}
import io.swagger.v3.oas.annotations.Operation
import javax.annotation.processing.Generated
import javax.ws.rs.Consumes
import javax.ws.rs.GET
import javax.ws.rs.POST
import javax.ws.rs.Path
import javax.ws.rs.Produces
import javax.ws.rs.core.MediaType

{{#contractDetails}}
@Generated
@Consumes(MediaType.APPLICATION_JSON)
@Produces(MediaType.APPLICATION_JSON)
interface {{capitalizedContractName}}Resource {

    @get:Path("events")
    val events: {{capitalizedContractName}}Events

    {{/contractDetails}}
    {{#contractResources.functionResources}}
            {{{method}}}
            {{{path}}}
            {{mediaType}}
            {{{operationTag}}}
            {{resource}} : {{{returnType}}}

    {{/contractResources.functionResources}}
}
