package {{packageName}}.core.{{contractName}}

{{#eventImports}}
    {{import}}
{{/eventImports}}
{{#modelImports}}
    {{import}}
{{/modelImports}}
import org.web3j.openapi.core.SubResource
import javax.annotation.Generated
import javax.ws.rs.Path
import io.swagger.v3.oas.annotations.Operation

{{#contractDetails}}
@Generated
interface {{capitalizedContractName}}Events : SubResource {

    @Operation(tags = ["{{capitalizedContractName}} Events"], summary = "List all {{capitalizedContractName}} events")
    override fun findAll(): List<String>

{{/contractDetails}}
{{#contractResources.eventResources}}
    {{{path}}}
    {{resource}} : {{{returnType}}}

{{/contractResources.eventResources}}
}
