package {{packageName}}.core.{{contractName}}

{{#eventsImports}}
    {{import}}
{{/eventsImports}}
{{#modelsImports}}
    {{import}}
{{/modelsImports}}
import org.web3j.openapi.core.SubResource
import javax.annotation.processing.Generated
import javax.ws.rs.Path

{{#contractDetails}}
@Generated
interface {{capitalizedContractName}}Events : SubResource {
{{/contractDetails}}
{{#contractResources.eventsResources}}
    {{{path}}}
    {{resource}} : {{{returnType}}}

{{/contractResources.eventsResources}}
}
